div{
    border-radius: 50px;
    padding: 10px;
    border-top:10px solid blue;
    border-bottom-style:double;
    border-bottom-width: 11px;
    border-bottom-color: black;
    border-left: 15px dashed grey;
    border-right: 12px dotted ;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    
}

/* padding short-hand  */
button{
    padding: 10px 50px;
    border-radius: 20px;
}
button:hover{
    color: black;
    background-color: green;
    margin-left: 100px;
}

/* margin shortHand is similar to the padding short hand */
button{
    margin: 100px 50px 25px 12.5px;
}
